{%extends 'base.html'%}

 {% block content %}
 {{block.super}}


 <h1>Welcome to Myner Movies; the beginning of your thrilling movie experience.</h1>
 {% for movie in movies.results%} 
 <div class="row">
    <div class="col-md-5 center">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}"
                class="img-fluid card-img-center"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text">
                {{movie.overview}}
              </p>
              <a href="#!" class="btn btn-primary">Watch Trailor</a>
            </div>
          </div>
    </div>
 </div>

 {% endfor %}

 {% endblock %}